* {
    border: 0;
    margin: 0;
    padding: 0;
}

object {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-color: #232526;
    color: #FFFFFF;
}

input, button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input:focus,
button:focus,
select:focus,
textarea:focus,
a {
    outline: 0 !important;
    color: #888888;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0,0,0,0.3);
}

.admin button {
    background: #ddf100;
    color: #000000;
    padding: 4px 8px;
    font-size: 20px;
    margin: 10px;
}

.admin input[type="checkbox"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
}

.admin label {
    padding: 10px;
}

.admin button:hover {
    background: #000000;
    color: #ddf100;
}

.game {
    font-size: 20px;
    padding: 20px;
}

.game input[type="text"] {
    background-color: #111111;
    padding: 4px 8px;
    color: #FFFFFF;
    border: 2px solid #ddf100;
    margin: 8px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    max-width: 280px;
    min-width: 280px;
    border-radius: 2px;
}

.game select {
    background-color: #111111;
    padding: 4px 8px;
    color: #FFFFFF;
    border: 2px solid #ddf100;
    margin: 8px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    max-width: 300px;
    min-width: 300px;
    border-radius: 2px;
}

.game input[type="submit"] {
    display: block;
    background-color: #ddf100;
    padding: 4px 8px;
    color: #111111;
    border: 2px solid #ddf100;
    margin: 8px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    max-width: 300px;
    min-width: 300px;
    border-radius: 2px;
}

.game input[type="submit"]:hover {
    background-color: #111111;
    border: 2px solid #ddf100;
    color: #ddf100;
}

.game button {
    background-color: #FFFFFF;
    font-size: 18px;
    padding: 2px 4px;
    margin: 8px;
    display: block;
    border-radius: 2px;
    text-align: left;
}

.game button:hover {
    color: #888888;
}

.game input[type="number"] {
    background-color: #111111;
    padding: 4px 8px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    margin: 8px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    max-width: 280px;
    min-width: 280px;
    border-radius: 2px;
}

.game p {
    padding: 10px 10px 20px 10px;
}