<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Campus Foglaló</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto+Mono|Roboto:300&display=swap&subset=latin-ext" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <script th:inline="javascript">
        const UUID = /*[[${uuid}]]*/ "NOT_INJECTED";

        function activatePlace(place, property, value) {

        }

        function nextTeam(teamId) {

        }
    </script>
</head>
<body>
<h1>Admin</h1>

<div class="admin">


    <label>
        <input type="checkbox" id="sel-a" />A (lila)
    </label>
    <label>
        <input type="checkbox" id="sel-b" />B (türkiz)
    </label>
    <label>
        <input type="checkbox" id="sel-c" />C (magenta)
    </label>
    <label>
        <input type="checkbox" id="sel-d" />D (narancs)
    </label>
    <br>

    <button onclick="newSelQuestion()">Új felelet választós kérdés</button><br>
    <button onclick="newNumQuestion()">Új szám kitalálós kérdés</button><br>

    <hr>

    <button onclick="showAnswer()">Válasz mutatása</button><br>
    <button onclick="showMap()">Térkép mutatása</button><br>

    <table>
        <tr>
            <th>HELY</th>
            <th>NO</th>
            <th>A</th>
            <th>B</th>
            <th>C</th>
            <th>D</th>
            <th>S</th>
            <th>!S</th>
            <th>T</th>
            <th>!T</th>
        </tr>
        <tr th:each="name : ${names}">
            <td th:text="${name}">I</td>
            <td><button th:attr="onclick=|activatePlace('${name}', 'owner', '0')|" class="teamNO">NO</button></td>
            <td><button th:attr="onclick=|activatePlace('${name}', 'owner', '1')|" class="teamA">A</button></td>
            <td><button th:attr="onclick=|activatePlace('${name}', 'owner', '2')|" class="teamB">B</button></td>
            <td><button th:attr="onclick=|activatePlace('${name}', 'owner', '3')|" class="teamC">C</button></td>
            <td><button th:attr="onclick=|activatePlace('${name}', 'owner', '4')|" class="teamD">D</button></td>
            <td><button th:attr="onclick=|activatePlace('${name}', 'selected', 'true')|">S</button></td>
            <td><button th:attr="onclick=|activatePlace('${name}', 'selected', 'false')|">!S</button></td>
            <td><button th:attr="onclick=|activatePlace('${name}', 'tower', 'true')|">T</button></td>
            <td><button th:attr="onclick=|activatePlace('${name}', 'tower', 'false')|">!T</button></td>
        </tr>
    </table>
    <br>
    Következő csapat<br>

    <button onclick="nextTeam('0')" class="teamNO">NO</button>
    <button onclick="nextTeam('1')" class="teamA">A</button>
    <button onclick="nextTeam('2')" class="teamB">B</button>
    <button onclick="nextTeam('3')" class="teamC">C</button>
    <button onclick="nextTeam('4')" class="teamD">D</button>
</div>
</body>
</html>