<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Campus Foglaló</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto+Mono|Roboto:300&display=swap&subset=latin-ext" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <script>

        function connect(username, teamId) {
            const socket = new SockJS('/ws');
            stompClient = Stomp.over(socket);
            stompClient.connect({username: username, teamId: teamId}, function (frame) {
                document.getElementById("login-box").innerHTML = "";
                document.getElementById("wait").style.display = "block";

                stompClient.subscribe('/user/topic/question', function (data) {
                    let question = JSON.parse(data.body);

                    if (question.selection) {
                        document.getElementById("q-sel-question").innerText = question.question;
                        document.getElementById("q-sel-a").innerText = question.answers[0];
                        document.getElementById("q-sel-b").innerText = question.answers[1];
                        document.getElementById("q-sel-c").innerText = question.answers[2];
                        document.getElementById("q-sel-d").innerText = question.answers[3];

                        document.getElementById("q-sel").style.display = "block";
                        document.getElementById("q-num").style.display = "none";
                        document.getElementById("wait").style.display = "none";
                    } else {
                        document.getElementById("q-sel-question").innerText = question.question;
                        document.getElementById("q-num-answer").value = "";

                        document.getElementById("q-sel").style.display = "block";
                        document.getElementById("q-num").style.display = "none";
                        document.getElementById("wait").style.display = "none";
                    }
                });

                stompClient.subscribe('/user/topic/hide', function (data) {
                    let hideObject = JSON.parse(data.body);
                    hideAll();
                });

            });

        }

        function sendAnswer(answer) {
            stompClient.send("/app/answer", {}, JSON.stringify({
                'answer': parseInt(answer)
            }));
            hideAll();
        }

        function join() {
            connect(document.getElementById("username").value, document.getElementById("teamId").value)
        }

        function hideAll() {
            document.getElementById("q-sel").style.display = "none";
            document.getElementById("q-num").style.display = "none";
            document.getElementById("wait").style.display = "block";
        }

        function answerNumericQuestion() {
            sendAnswer(document.getElementById("q-num-answer").value);
        }

        function answerQuestion(answer) {
            sendAnswer(answer);
        }

    </script>
</head>
<body>

<div class="game">
    <div class="login" id="login-box">
        <form onsubmit="join(); return false">
            Csapat neve:<br />
            <input type="text" id="username" maxlength="16" autocomplete="off"><br />
            Csapat színe:<br />
            <select id="teamId">
                <option value="1">Lila</option>
                <option value="2">Türkiz</option>
                <option value="3">Magenta</option>
                <option value="4">Narancssárga</option>
            </select>
            <input type="submit" value="BELÉPÉS" />
        </form>
    </div>

    <div class="questionSelection" id="q-sel" style="display: none">
        <h2>KÉRDÉS</h2>
        <p id="q-sel-question">This is the question. It goes like this.</p>

        <button id="q-sel-a" onclick="answerQuestion('1')">A: ANSWER 1</button>
        <button id="q-sel-b" onclick="answerQuestion('2')">B: Ez egy hosszabb válasz lehetőség, még sortörtés is lehet benne akár.</button>
        <button id="q-sel-c" onclick="answerQuestion('3')">C: ANSWER 3</button>
        <button id="q-sel-d" onclick="answerQuestion('4')">D: ANSWER 4</button>
    </div>

    <div class="questionNumeric" id="q-num" style="display: none">
        <h2>KÉRDÉS</h2>
        <p id="q-num-question">This is the question. It goes like this. Tipplej pls!</p>

        <input type="number" id="q-num-answer"/>
        <button onclick="answerNumericQuestion()">VÁLASZOL</button>
    </div>

    <div id="wait" style="display: none">
        <h2>...</h2>
    </div>

</div>

</body>
</html>