<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Campus Foglaló</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto+Mono|Roboto:300&display=swap&subset=latin-ext" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <script>

        function connect() {
            const socket = new SockJS('/ws');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {

                stompClient.subscribe('/topic/question', function (data) {
                    let question = JSON.parse(data.body);
                    console.log(question)
                });

                stompClient.subscribe('/topic/answer', function (data) {
                    let answer = JSON.parse(data.body);
                    console.log(answer)
                });

                stompClient.subscribe('/topic/status', function (data) {
                    let status = JSON.parse(data.body);
                    console.log(status)
                });
            });

        }

    </script>
</head>
<body onload="connect()">

<div class="screen">

    <h1>Campus Foglaló</h1>

    <div class="teams">
        <div class="team">
            <div id="a-name" class="team-name">Alpha csapat</div>
            <ins id="a-score">0</ins>
        </div>
        <div class="team">
            <div id="b-name"  class="team-name">Beta csapat</div>
            <ins id="b-score">0</ins>
        </div>
        <div class="team">
            <div id="c-name"  class="team-name">Gamma csapat</div>
            <ins id="c-score">0</ins>
        </div>
        <div class="team">
            <div id="d-name" class="team-name">Delta csapat</div>
            <ins id="d-score">0</ins>
        </div>
    </div>

    <div class="map"></div>

    <div class="help">
        <ul>
            <li>1. - Dél-ELTE          </li>
            <li>2. - Tüskecsarnok      </li>
            <li>3. - IQ-épület         </li>
            <li>4. - Észak-ELTE        </li>
            <li>5. - Goldmann tér      </li>
            <li>6. - Kármán            </li>
            <li>7. - E épület          </li>
            <li>8. - R épület          </li>
            <li>9. - K épület          </li>
            <li>10. - CHMAX            </li>
            <li>11. - Gellért-hegy     </li>
            <li>12. - Móricz           </li>
            <li>13. - Gárdonyi tér     </li>
            <li>14. - Sarki tanszék    </li>
            <li>15. - Allee            </li>
            <li>16. - MOL              </li>
            <li>17. - Schönherz        </li>
            <li>18. - Pinyó            </li>
            <li>19. - Boráros tér      </li>
            <li>20. - Corvinus         </li>
        </ul>
    </div>

    <div class="next-team">A</div>
</div>

</body>
</html>